<div class="htmleaf-content">
  <div class="col-lg-6 text-center">
    <img src="../assets/1.png" class="custom-class" id="git-one" data-gifsee="../assets/1.gif" alt="">
  </div>
  <div class="col-lg-6 text-center">
    <img src="../assets/2.png" class="custom-class" id="git-two" data-gifsee="../assets/2.gif" alt="">
  </div>
</div>
<script type="application/javascript">
    var myimg = new gifsee(document.querySelector('#git-one'));
    var myimg2 = new gifsee(document.querySelector('#git-two'));
</script>